<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-Card</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            margin: 2rem;
        }

        .product-gallery {
            display: flex;
            flex: 1;
            gap: 1.8rem;
        }

        .p-img-thumbnails {
            display: flex;
            flex-direction: column;
            width: 11%;
            height: 12%;
            gap: 20px;
        }

        .p-main-image {
            
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="product">Product Details
            <div class="product-gallery">
                <div class="p-img-thumbnails">
                    <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/clothing_task_card-cVhYiab0yD9QnYCRQigffV5Awm3isU.png"
                        alt="Wave Tee front view" class="thumbnail active">
                    <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/clothing_task_card-cVhYiab0yD9QnYCRQigffV5Awm3isU.png"
                        alt="Wave Tee side view" class="thumbnail">
                    <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/clothing_task_card-cVhYiab0yD9QnYCRQigffV5Awm3isU.png"
                        alt="Wave Tee back view" class="thumbnail">
                    <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/clothing_task_card-cVhYiab0yD9QnYCRQigffV5Awm3isU.png"
                        alt="Wave Tee detail view" class="thumbnail">
                </div>
                <div class="p-main-image">
                    <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/clothing_task_card-cVhYiab0yD9QnYCRQigffV5Awm3isU.png"
                        alt="Wave Tee" class="main-image">
                </div>
            </div>
            <div class="p-details"></div>
        </div>
    </div>
</body>

</html>